section#notes
  p The example above uses the #[a(href='https://developer.mozilla.org/en/docs/Web/API/Fetch_API' target='_blank') fetch() API] to get the results via AJAX requests. It works in Chrome 42+, FireFox 39+, Safari 10+, Opera 29+, and Edge 14+ only; IE is not supported.
  p The live preview won't work for you in Internet Explorer or really old browsers; however, you can still try the API directly.
  p The GitHub repo is available here: #[a(href='https://github.com/zsoltime/fcc-api-url-shortener') URL Shortener]
