extends _layout.pug
block content
  include _header.pug

  main.wrapper.wrapper--no-bottom
    section#intro
      p URL shortener is an API built for #[a(href='https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice' target='_blank') freeCodeCamp]. It takes any valid URL, assign a unique, short ID and returns a JSON object with a shortened URL which can be visited later.

    include _user-stories.pug
    include _usage.pug
    include _live.pug
    include _notes.pug

  include _footer.pug
  script(src='app.js')
